<app-contacts-table (openCreateModal)="openCreateContactModal()"></app-contacts-table>
<app-create-contact-modal (close)="closeCreateContactModal()"></app-create-contact-modal>

<!-- <app-update-contact-modal
  *ngIf="showUpdateContactModal"
  (close)="toggleUpdateModal()"
></app-update-contact-modal>


<app-view-contact-modal
  *ngIf="showViewContactModal"
  (close)="toggleViewModal()"
></app-view-contact-modal>

<app-delete-contact-modal
  *ngIf="showDeleteModal"
  (close)="toggleDeleteModal()"
></app-delete-contact-modal> -->
